{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: lightgray;
        font-family: Arial, Helvetica, sans-serif;
    }

    .title {
        text-align: center;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        top: 30px;
    }

    .container {
        position: relative;
        width: 700px;
        min-height: 500px;
        background-color: white;
        display: flex;
        left: 300px;
        top: 50px;
        flex-direction: row;
        border-radius: 4px;
    }

    .text-box-1 {
        width: 400px;
        min-height: 500px;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: justify;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .text-box-2 {
        width: 300px;
        min-height: 500px;
        background-color: rgb(195, 229, 241);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    span {
        position: relative;
        top: 15px;
        left: 15px;
        font-weight: 500;
    }

    .quantity {
        border: 1px solid lightgray;
        width: 350px;
        height: 70px;
        display: flex;
        position: relative;
        top: 25px;
        left: 16px;
        flex-direction: column;
    }

    .item-name {
        font-size: 0.9em;
    }

    .pricee {
        position: relative;
        font-size: 0.9em;
        top: 0px;
        left: -1px;
    }

    .itemprice {
        font-size: 1em;
        font-weight: bold;
    }

    .wrapper {

        min-height: 30px;
        width: 100px;
        border-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: rgb(255, 255, 255);
        border: 1px solid lightgray;
        left: 230px;
        bottom: 10px;
        position: relative;

    }